/*!
	Theme Name: MINZ | Miguel Martínez: Product interface designer
	Theme URI: http://minz.design
	Author: MINZ
	Author URI: http://minz.design
	Author Contact: minzdesigner@gmail.com
	Description: Profile of Miguel aka MINZ
	Version: 1.0

	Licensed under the MIT license.
	Copyright 2016 Miguel Martínez
*/

/* Normalize
_____________________________________________________ */
@import "includes/normalize.styl"


/* Prefixes
_____________________________________________________ */
@import "nib"

/* Constants
_____________________________________________________ */
@import "includes/constants.styl"


/* Mixins
_____________________________________________________ */
@import "includes/mixins.styl"


/* Grid
_____________________________________________________ */
@import "includes/grid.styl"


/* buttons
_____________________________________________________ */
@import "includes/buttons.styl"


/* Base
_____________________________________________________ */
@import "includes/base.styl"

/* Icons
_____________________________________________________ */
@import "includes/icons.styl"

/* topbar
_____________________________________________________ */
@import "includes/topbar.styl"

/* Styles
_____________________________________________________ */
@import "includes/hero.styl"

/* Fonts
_____________________________________________________ */
@import "includes/fonts.styl"

/* Footer
_____________________________________________________ */
@import "includes/footer.styl"

/* Abaut
_____________________________________________________ */
@import "includes/about.styl"

/* Projects
_____________________________________________________ */
@import "includes/projects.styl"

/* Utilities
_____________________________________________________ */
@import "includes/utilities.styl"

/* stick nav-menu
_____________________________________________________ */
@import "includes/sticknav.styl"

/* Simplezoom form images
_____________________________________________________ */
@import "includes/simplezoom.css"