.btn
	background white_color
	border none
	color grey_color_4
	font-family tipography
	font-size 14px
	font-weight 400
	letter-spacing 1px
	line-height 1.5em
	outline 0
	overflow hidden !important
	padding 5px 12px
	position relative
	text-decoration none
	text-transform uppercase
	transition_all(.3s)
	&-radius
		border-radius 50px
	&-disabled
		opacity .2
		cursor default
		border solid thin grey_color_3
		&:hover
			box-shadow none
			color grey_color_4
			background transparent !important
		
	&-mini
		padding 2px 6px
		font-size 10px
	
	&-small
		padding 4px 10px
		font-size 12px
		
	&-medium
		font-size 14px
		padding 8px 13px
	
	&-big
		padding 10px 15px
		line-height 1.7em
		font-weight 600
	
	&-mega
		padding 15px 25px
		line-height 1.9em
		font-weight 600
			
	&-positive
		overflow hidden !important
		background primary_color
		color white_color
		border none
		shadow_custom(0, 5px, 20px, -4px, .2)
		
	&-negative
		overflow hidden !important
		background white_color
		color primary_color
		border none
		shadow_custom(0, 5px, 20px, -4px, .2)


@media only screen and (min-width : 1100px)
	.btn
		&:hover
			shadow_custom(0, 15px, 90px, -5px, .4)