/* Colors
_____________________________________________________ */
// Brand colors
acent_color = #FBDC78
dark_color = #030404
black_color = #000
grey_color_1 = #F1F3F3
grey_color_2 = #E8E8E8
grey_color_3 = #929BA8
grey_color_4 = rgba(black_color, .5)
primary_color = #f7415f
primary_dark_color = #1E252B
white_color = #fff

// Socials colors
dribbble = #EA4C89
linkedin = #0077B5
twitter = #55ACEE
instagram = #3F729B
behance = #0864FF
facebook = #3b5998

/* Typography
_____________________________________________________ */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
tipography = 'Avenir Next', 'Noto Sans', sans-serif;
