// Lists project home
.Projects
	width 100%
	margin 0 auto
	padding-top 100px
	display inline-block
	 
	&__link
		background-position center
		background-repeat no-repeat
		background-size cover
		display block
		height 240px
		margin 0 auto 50px
		position relative
		width 240px
		&::after
			content ''
			display block
			z-index 1
			background-color rgba(dark_color, .5)
			width 100%
			height 95%
			top 0
			left 0
			transition_all(.3s)
		&__letter
			height 100px
			position absolute
			top 50%
			left 50%
			width 100px
			margin-top -50px
			margin-left -50px
		&__icon
			display block
			width 100px
			display inline-block
			position absolute
			bottom -30px
			right -50px
			transition_all(.3s)
			
		&__caption
			display block
			position absolute
			bottom -30px
			z-index 10
			&__title
				color dark_color
				font-size 16px
				letter-spacing 2px
				font-weight 400
				text-transform uppercase

		/*
		* To efect hover
		*/
		&-hide-other
			opacity 0.2
		&-show
			opacity 1
			
	
			

// 	&__title
// 		font-weight 700
// 		font-size	1.3em
// 		width 30%
// 		display inline-block
// 		span
// 			font-size .8em
// 	&__caption
// 		font-weight 400
// 		font-size	1.1em
// 		display inline-block
// 		color grey_color_3
// 		width 68%
// 		background-position -1200px
// 		background-size 10px
// 		background-repeat no-repeat
		

// // Project
// .Project
// 	&__header
// 		width 100%
// 		min-height 120px
// 		display inline-block
// 		h1
// 			font-size 60px
// 			font-weight 700
// 		h3 
// 			font-size 20px
// 	&__step
// 		position relative
// 		&::before
// 			background grey_color_3
// 			border solid thin grey_color_3
// 			content ''
// 			display block
// 			height 2px
// 			left 5px
// 			position absolute
// 			top 20px
// 			width 10px
// 			z-index 1
// 		&::after
// 			content ''
// 			position absolute
// 			z-index -1
// 			width 1px
// 			height 130%
// 			left 10px
// 			top 20px
// 			display block
// 			background grey_color_3
// 		&.step-img
// 			&::before
// 				display none
// 		&.step-dot
// 			&::after
// 				top -120px
// 				height 140px
				
// 	&__title
// 		vertical-align top
// 		sup
// 			position relative
// 			font-size .6em
// 			margin-right 10px
// 			&::after
// 				content ''
// 				display block 
// 				width 50px
// 				background grey_color_4
// 				height 1px
// 				transform rotate(-65deg)
// 				position absolute
// 				right -10
// 				bottom 0
// 	&__icon
// 		max-width 100px
// 		margin 0 auto
// 	&__learing
// 		font-weight 700
// 		font-size 2em
// 		color primary_color
// 	&__footer
// 		background grey_color_3
		

@media only screen and (min-width : 910px)
	.Projects
		&__link
			width auto
			min-height 50vh
			&__icon
				display none
		// &__title
		// 	font-size	1.7em
		// &__caption
		// 	font-size	1.5em

@media only screen and (min-width : 1000px) and (orientation: portrait) and (min-height : 1000px)
	.Projects
		background red
		&__link
			min-height auto

@media only screen and (min-width : 1100px)
	.Projects
		&__caption
			background transparent
			background-position 1200px center
			background-repeat no-repeat
			background-size 100px
		&__link
			position relative
			margin 0
			width 250px
			height 250px
			min-height 250px
			&::after
				width 95%
				height 100%
				
			&__icon
				display block
				width 120px
				display inline-block
				position absolute
				bottom -30px
				right 0
				opacity 0
				transition_all(.3s)
			&__caption
				bottom -60px
				transition_all(.3s)
				opacity 0
			

			/*
			* To efect hover
			*/
			&-hide-other
				opacity .9
			// 	filter: blur(4px)
			&-show
				shadow_custom(0, 20px, 60px, -5px, .2)
				filter: blur(0px)
			// -------
				
			&:hover
				transform scale(.98)
				&::after
					position absolute
					width 0
					opacity 0
				.Projects
					&__link
						&__caption
							opacity 1
							bottom -30px
						&__icon
							right -40px
							opacity 1
						&__letter
							height 140px
							width 140px
							margin-top -70px
							margin-left -70px
							
				
				
			&>*
				transition_all(.5s)
				


	.Project
		&__header
			h1
				font-size 130px
			h3 
				font-size 32px
		
@media only screen and (min-width : 1400px)
	.Projects
		&__link
			width 340px
			height 340px




	 
