// .StickNav
// 	display none
	

// @media only screen and (min-width : 910px)
// 	.StickNav
// 		display block
// 		height 160px
// 		margin-top -80px
// 		position fixed
// 		left 20px
// 		top 50%
// 		z-index 2000
// 		&__list
// 			padding 0
// 			text-align left
// 			&__item
// 				display block
// 				margin-bottom 5px
// 				&__link
// 					border-left solid 3px transparent
// 					color dark_color
// 					display block
// 					font-size 14px
// 					font-weight 400
// 					padding-right 15px
// 					&:hover
// 						color primary_color
// 					&.is-current
// 						color primary_color
// 						font-weight 600
							


// 			